[project]
	description = OpenStack related stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raoul Scarazzini (rscarazz)
[access "refs/for/refs/*"]
	read = group user/Raoul Scarazzini (rscarazz)
	push = group user/Raoul Scarazzini (rscarazz)
	label-Code-Review = -2..+2 group user/Raoul Scarazzini (rscarazz)
	label-Verified = -1..+1 group user/Raoul Scarazzini (rscarazz)
	rebase = group user/Raoul Scarazzini (rscarazz)
	removeReviewer = group user/Raoul Scarazzini (rscarazz)
	submit = group user/Raoul Scarazzini (rscarazz)
[access "refs/heads/*"]
	read = group user/Raoul Scarazzini (rscarazz)
	create = group user/Raoul Scarazzini (rscarazz)
	push = +force group user/Raoul Scarazzini (rscarazz)
	pushMerge = group user/Raoul Scarazzini (rscarazz)
[access "refs/tags/*"]
	push = +force group user/Raoul Scarazzini (rscarazz)
	pushTag = group user/Raoul Scarazzini (rscarazz)
	pushSignedTag = group user/Raoul Scarazzini (rscarazz)
